.header{
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('../Images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

}


.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
    height: 350px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
    height: 100px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .headerListItem.active{
    border: 1.5px solid white;
    padding: 10px;
    border-radius: 20px;
} */
.headerTitle{
  margin-top: 90px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    /* background-color: #0071c2; */
    background-color: #a09558be;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.headerBtn2{
  background-color: #000000;
  /* background-color: #7332b4be; */
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.headerSearch {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    bottom: -50px;
    width: 100%;
    max-width: 1024px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    z-index: 2;
    margin-bottom: 20px;
    
  }

  .headerSearch:focus-within {
    box-shadow: 0px 4px 10px rgba(33, 150, 243, 0.4),
      0px 0px 20px rgba(255, 0, 0, 0.2),
      0px 0px 10px rgba(255, 255, 0, 0.2);
  }
  
  .headerSearchInput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .headerIcon {
    color: #ccc;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
  }
  
  .headerSearchText {
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
  
  }
  
  .date {
    position: absolute;
    top: 90px;
    z-index: 3;
  }

  .headerSlider {
    position: relative;
    height: 100vh;
  }
  
  .headerSlide {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
